body{
    background: url("/assets/img/wallpapers/wallpaper\ default.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

#canvas{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: lightcoral;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas footer{
    position: absolute;
    top: calc(100% - 25px);
    left: 50%;
    transform: translateX(-50%);
}
#canvas footer button{
    font-size: 40px;
    position: absolute;
}

#canvas footer span{
    display: inline-block;
    border: 2px solid black;
}

#canvas footer p{
    display: inline-block;
    font-size: 40px;
    margin: 0;
}
.objective {
    width:40px;
    height:40px;
    background-color: yellow;
    position: absolute;
}