body {
    background: url("./../assets/img/wallpapers/wallpaper\ default.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

button, .circleStart, .circlePlay {
    cursor: pointer;
}

#startup {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#startup.hidden {
    display: none;
}

#startup header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background: url("./../assets/img/logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 500px;
    height: 500px;
}

#startup footer {
    position: absolute;
    bottom: 10%;
    width: 100vw;
    text-align: center;
}


#startup footer .circleStart{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-image: url('./../assets/img/start.png');
    position: relative;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#startup footer #start{
    font-size: 40px;
    font-weight: 600;
    z-index: 2; 
    padding-left:10px;
    width: 100px; 
    height: 100px;  
    position:relative;
    background-color: rgba(165, 42, 42, 0);
    border: 0;
    line-height: 300px;
}

#canvas {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-image: url('./../assets/img/wallpapers/fondo-canvas.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    
}

#canvas:hover{
    cursor: url('./../assets/img/wallpapers/mata-moscas.png'), auto;
}


#canvas.opened{
    display: block;
}

.grid{
    width: 530px;
    height: 500px;
    margin: 0 auto;
    background-image: url('./../assets/img/rejilla.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    
}

#canvas header #timeGame{
    position: absolute;
    top: calc(0% - 30px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    margin: 0;
    border: 2px solid black;
    background-color: lightsalmon;
    padding: 5px;
    border-radius: 10px;
    z-index: 200;
}

#canvas header #timeGame.endingTime {
    background-color: lightcoral;
    animation: timeEnding 1s both 5;
}

@keyframes timeEnding {
    0% {
        background-color: red;
    }

    50% {
        background-color: lightcoral;
    }

    100% {
        background-color: red;
    }
}

#canvas table {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#canvas table td {
    border: 2px solid transparent;
    position: relative;
    padding: 5px 0;
}

#canvas table td.showed {
    outline: 2px solid rgb(254, 254, 105);
    border-radius: 10px;
}

#canvas footer {
    width: 100%;
    position: absolute;
    top: calc(100% - 70px);
    left: 50%;
    transform: translateX(-50%);
}

#canvas footer #play {
    font-size: 40px;
    position: absolute;
    padding: 5px;
}

#canvas footer button.hidden {
    display: none;
}

#canvas footer span {
    display: inline-block;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
}

#canvas footer .circlePlay{
    width: 180px;
    height: 180px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('./../assets/img/play.png');
    z-index: 2;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


#canvas footer #play{
    width: 100%;
    padding-left: 10px;
    font-size: 32px;
    font-weight: 600px;
    z-index: 2;
    position:relative;
    background-color: rgba(165, 42, 42, 0);
    border: 0;
    line-height: 170px;
    text-align: center;
}

#canvas footer .circlePlay.hidden{
    display: none;
}

#canvas footer span{
    display:inline-block;
    position: absolute;
    border: 4px solid black;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(15px);        
}

#canvas footer #totalScore {
    display: inline-block;
    margin: 0px;
    font-size: 60px;
    color: black;
    font-weight: 900;
}

#canvas footer #totalScore.growUp{
    animation: growUpTotalScore 0.5s backwards 0s 1;
}

.objective {
    width: 80px;
    height: 80px;
    background-image: url("./../assets/img/objectives/Mosquitos/mosquito.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    animation: showObjective 1s both 1;
}

.objective.boss{
    background-image: url("./../assets/img/objectives/Mosquitos/mosquito\ fuerte.png");
}

.objective.hitted{
    background-image: url("./../assets/img/objectives/Mosquitos/mosquito\ mareado.png");
    animation: objectiveHittedRotate .5s both 1 ;
}

@keyframes objectiveHittedRotate {
    0% {
        rotate: 0
    }

    100% {
        rotate: 180deg
    }
}

.objective.mirror {
    transform: rotateY(180deg);
    /* rotate image mirror mode */
}

.objective.hidden {
    animation: hiddenObjective 1s both 0s 1;
}


@keyframes showObjective {
    0% {
        scale: 0
    }

    100% {
        scale: 1
    }
}

@keyframes hiddenObjective {
    0% {
        scale: 1
    }

    100% {
        scale: 0
    }
}

.backgroundEnd {
    background-color: rgb(20, 65, 79);
    opacity: 0.5;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
}

.backgroundEnd.opened {
    display: block;
}

#containerResult {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background-color: midnightblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    color: white;
    border-radius: 10px;
    padding-bottom: 40px;
    display: none;
}

#containerResult.opened {
    display: block;
}

#containerResult p {
    animation: growUpTotalScore 1s both 0s 1;
}

@keyframes growUpTotalScore {
    0% {
        scale: 1;
        
    }

    100% {
        scale: 1.5;
        color: gold;
    }
}

#containerResult #restart {
    font-size: 40px;
    background-color: goldenrod;
    border-radius: 10px;
    padding: 10px;
}
.countdown{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
   
    overflow: hidden;
}

.countdown.opened{
    z-index: 1000;
    display: block;
    background-color: black;
    opacity: 0.6;
    font-size: 450px;
    text-align: center;
}

.countdown p{
    padding-top: 8%;
    margin: 0;
}

p.emergingPoint{
   color: greenyellow;
   padding: 5px;
   font-size: 30px;
   font-weight: 900;
   backdrop-filter: blur(300px);
   border-radius: 20%;
}

