body{
    background: url("/assets/img/wallpapers/wallpaper\ default.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

#startup{
    width: 100vw;
    height: 100vh;
    position: absolute;
}
#startup.hidden{
    display: none;
}

#startup header{
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 80px;
    background-color: rgb(250, 140, 96);
    width: 100vw;
}


#startup header h1{
    margin: 0;
    
}

#startup footer{
    position: absolute;
    bottom: 10%;
    width: 100vw;
    text-align: center;
}

.circle{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-image: url('../assets/img/wallpapers/play-button.png');
    position: relative;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


#start {
    width: 100px; 
    height: 100px;  
    position:relative;
    background-color: rgba(165, 42, 42, 0);
    border: 0;
    line-height: 300px;
    
   
}

#startup footer #start{
    font-size: 40px;
    font-weight: 600;
    z-index: 2; 
    padding-left:10px ;
    
}



#canvas{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: lightcoral;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


#canvas.opened{
    display: block;
}

#canvas header #timeGame{
    /* display: none; */
    position: absolute;
    top: calc(0% - 25px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    margin: 0;
    border: 2px solid black;
    background-color: lightgreen;
}

#canvas footer{
    position: absolute;
    top: calc(100% - 25px);
    left: 50%;
    transform: translateX(-50%);
}
#canvas footer button{
    font-size: 40px;
    position: absolute;
}

#canvas footer button.hidden{
    display: none;
}

#canvas footer span{
    display: inline-block;
    border: 2px solid black;
}

#canvas footer p{
    display: inline-block;
    font-size: 40px;
    margin: 0;
}
.objective {
    width:40px;
    height:40px;
    background-color: yellow;
    position: absolute;
}

.backgroundEnd{
    /*border: 2px solid blue;*/
    background-color:rgb(20, 65, 79);
    opacity: 0.5;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;

}

.backgroundEnd.opened{
    display: block;
}

#containerResult{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background-color: lightsalmon;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
   display: none; 
}

#containerResult.opened{
    display: block;
}

#containerResult #restart{
    font-size: 30px;
}

